.header{
    display: flex; 
    background-color: rgb(189, 231, 244);

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;

    justify-content: space-between;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(9, 74, 148, 0.428);

    height: 70px;
    margin: 0;
}

.left_section{
    display: flex; 
    align-items: center; 

    padding-bottom: 5px;
}

.hamburger_icon{
    height: 27px;
    cursor: pointer;

    border-style: hidden;
    border-radius: 40%;

    margin-left: 25px;
    margin-right: 35px;
}

.hamburger_icon:hover{
    background-color: rgba(135, 207, 235, 0.656);
}

.youtube_logo_container{
    display: flex;

    position: relative;

    .youtube_logo_theme{ 
        position: absolute;
        top: -4px; 
        right: 3px;

        font-family: sherif;
        font-size: 17px;
        font-weight: 600;
        color: rgb(15, 50, 109);
    }
}

.youtube_logo{
    height: 25px;
    cursor: pointer;

    margin-right: 28px;
}



.middle_section{ 
    width: 485px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar{
    flex: 1;
    height: 39px;
    width: 0;
    min-width: 54px;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(198, 194, 194);

    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;

    box-shadow: inset 0.5px 0.5px 2px rgba(0, 0, 0, 0.057);
}

.search_bar::placeholder{
    font-size: 16px; 
}

.search_button{
    height: 43px;
    width: 70px;
    background-color: rgba(236, 236, 236, 0.693);

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(198, 194, 194);
    box-shadow: inset 0.5px 0.5px 2px rgba(0, 0, 0, 0.057);

    cursor: pointer;
    transition: background-color 0.5s;

    margin-left: -1px;
    margin-right: 8px;
}

.search_icon{
    height: 28px; 

    margin-top: 3px;
}

.search_button:hover{
    background-color:  rgb(202, 202, 202);
}

.voice_search_button{
    height: 38px;
    width: 38px;

    background-color: rgb(217, 214, 214);

    cursor: pointer;
    transition: background-color 0.5s;

    border-style: hidden;
    border-radius: 19px;
}

.voice_search_icon{
    height: 22px;
    padding-top: 1px;
}

.voice_search_button:hover{
    background-color: rgb(171, 171, 171);
}





.right_section{
    display: flex;
    align-items: center;

    width: 250px; 
}

.right_head_buttons{
    height: 28px;
    
    padding: 0;
    border: none;
    
    cursor: pointer;
    background-color: transparent;

    margin-left: 25px;
}

.right_head_icons{
    height: 25px;
}

.user_profile{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.user_profile_pic{
    height: 40px;
    width: 40px;
    object-fit: cover;

    border-style: hidden;
    border-radius: 20px;
    transition: border 1s;
    
    margin-left: 30px;
}

.user_profile_pic:hover{
    height: 38px;
    width: 38px;
    object-fit: cover;

    border-radius: 19px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 20, 20);
}
 