.side_bar{
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 85px;
    z-index: 200;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 75px 75px 75px 75px 75px ;

    background-color:  rgb(169, 208, 241);  
    margin-top: 2px;
}

.side_bar_divs{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center; 

    cursor: pointer;
}

.side_bar_divs:hover{
    background-color: rgb(123, 188, 241);  
}

.side_bar_divs img{ 
    height: 25px; 

    margin-top: 14px;
}

.side_bar_divs p{
    font-size: 11px;
    font-weight: 530;

    margin-top: 2px;
} 